<!DOCTYPE html>
<html lang="ko-KR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>콤보박스 컴포넌트</title>

  <link rel="stylesheet" href="/src/styles/main.css">
  <link rel="stylesheet" href="/src/scss/components/_select.scss">
</head>
<body>
  <h1>콤보 박스</h1>
  <div class="combobox">
    <select name="combobox" id="">
      <option value="한국어">한국어</option>
      <option value="영어">영어</option>
      <option value="중국어">중국어</option>
      <option value="일본어">일본어</option>
    </select>
    <img src="/src/assets/icon/global.svg" alt="">
    <img src="/src/assets/icon/triangle.svg" alt="">
  </div>
</body>
</html>